<!DOCTYPE html>
<html lang="{{ .Lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    {{ with resources.Get "styles/layout.css" | resources.ToCSS | resources.Minify }}
    <link rel="stylesheet" href="{{ .RelPermalink }}">
    {{ end }}
    <title>{{ .Title | safeHTML }}</title>
</head>
<body>
  <header>
    {{- partial "header.html" . -}}
  </header>
  <nav>
    {{- partial "nav.html" . -}}
  </nav>
  <main>
    {{- block "main" . }}{{- end }}
  </main>
  <footer>
    {{- partial "footer.html" . -}}
  </footer>
  {{- partial "scripts.html" . -}}
</body>
</html>
